<mat-card [ngClass]="{'text-center': !fullWidthMode}">
  <div [ngClass]="{flex: fullWidthMode}">
    <img
      class="mb-1 mx-auto"
      [ngClass]="{ 'h-[200px]': !fullWidthMode, 'h-[350px]': fullWidthMode }"
      src="https://via.placeholder.com/150"
      alt="product">
    <div
      class="w-full"
      [ngClass]="{'p-8 flex flex-col justify-between': fullWidthMode}"
    >
      <div>
        <h5>Shoes</h5>
        <p class="truncate hover:whitespace-normal">
          Snickers
        </p>
        <p *ngIf="fullWidthMode">Description</p>
      </div>
      <div class="flex justify-between items-center">
        <span class="text-red-400"> {{ '150' | currency }} </span>
        <button mat-icon-button (click)="onAddToCart()">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
