<mat-card class="mb-4">
  <div class="flex justify-between">
    <div>
      <button mat-button [matMenuTriggerFor]="sortByMenu">
        Sort by desc
      </button>
      <mat-menu #sortByMenu='matMenu'>
        <button mat-menu-item (click)="onSortChange('asc')">Ascending</button>
        <button mat-menu-item (click)="onSortChange('desc')">Descending</button>
      </mat-menu>
    </div>
    <div class="flex items-center">
      <button mat-button [matMenuTriggerFor]="showItemsCountMenu">
        Show {{ showItemsCount }}
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #showItemsCountMenu='matMenu'>
        <button mat-menu-item (click)="onShowItemsChange(12)">12</button>
        <button mat-menu-item (click)="onShowItemsChange(24)">24</button>
        <button mat-menu-item (click)="onShowItemsChange(36)">36</button>
      </mat-menu>
      <button mat-button (click)="onItemsLayoutUpdated(1)">
        <mat-icon>view_list</mat-icon>
      </button>
      <button mat-button (click)="onItemsLayoutUpdated(3)">
        <mat-icon>view_module</mat-icon>
      </button>
      <button mat-button (click)="onItemsLayoutUpdated(4)">
        <mat-icon>view_comfy</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
