<mat-drawer-container
  class="min-h-full mx-auto"
  [autosize]="true"
>
  <mat-drawer mode="side" opened class="p-6">
    <app-filters (showCategory)="onCategoryChange($event)"></app-filters>
  </mat-drawer>
  <mat-drawer-content class="p-6">
    <app-products-header
      (sortChange)="onSortChange($event)"
      (itemsCountChange)="onItemsCountChange($event)"
      (columnsCountChange)="onColumnsCountChange($event)"
    ></app-products-header>
    <mat-grid-list
      gutterSize="16"
      [cols]="itemsCols"
      [rowHeight]="rowHeight"
    >
      <ng-container *ngFor="let product of products">
        <mat-grid-tile>
          <app-product-box
            [product]="product"
            (addToCart)="onAddToCart($event)"
            class="w-full"
            [fullWidthMode]="itemsCols === 1"
          ></app-product-box>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
